<a href="https://colab.research.google.com/github/NeoLin1103/Machine-learning-algorithms/blob/main/Logistic_regrssion.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn import model_selection
%matplotlib inline

In [ ]:
# Load the Drive helper and mount
from google.colab import drive
# This will prompt for authorization.
drive.mount('/content/drive')
# After executing the cell above, Drive
# files will be present in "/content/drive/My Drive".
!ls "/content/drive/My Drive/Datasets"

Mounted at /content/drive
gender_submission.csv  MNIST  Pokemon  test.csv  Titanic  train.csv

In [ ]:
Titanic = pd.read_csv("/content/drive/My Drive/Datasets/train.csv")

In [ ]:
print(Titanic.shape)
Titanic.head()

(891, 12)

   PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
0            1         0       3  ...   7.2500   NaN         S
1            2         1       1  ...  71.2833   C85         C
2            3         1       3  ...   7.9250   NaN         S
3            4         1       1  ...  53.1000  C123         S
4            5         0       3  ...   8.0500   NaN         S

[5 rows x 12 columns]

In [ ]:
X_train, X_test, y_train, y_test = model_selection.train_test_split(Titanic.iloc[:,2:], Titanic.iloc[:,1], test_size=0.25, random_state=42)

In [ ]:
def preprocessing(df):
  # missing value imputation
  df.Embarked.fillna(value=df.Embarked.value_counts().index[0], inplace=True)
  df.Age.fillna(value=df.Age.mean(), inplace=True)
  df["with_cabin"] = df.Cabin.apply(lambda x: 0 if pd.isna(x) else 1)
  # one-hot encoding
  df = pd.get_dummies(df, columns=["Pclass","Sex","Embarked"])
  drop_list = ["Name","Ticket","Cabin"]
  df.drop(axis=1, columns=drop_list, inplace=True)
  # normalization
  age_max = df.Age.max()
  age_min = df.Age.min()
  df["Age"] = df.Age.apply(lambda x: (x - age_min)/(age_max-age_min))
  fare_max = df.Fare.max()
  fare_min = df.Fare.min()
  df["Fare"] = df.Fare.apply(lambda x: (x - fare_min)/(fare_max-fare_min))
  sibsp_max = df.SibSp.max()
  sibsp_min = df.SibSp.min()
  df["SibSp"] = df.SibSp.apply(lambda x: (x - sibsp_min)/(sibsp_max-sibsp_min))
  parch_max = df.Parch.max()
  parch_min = df.Parch.min()
  df["Parch"] = df.Parch.apply(lambda x: (x - parch_min)/(parch_max-parch_min))
  return df

In [ ]:
X_train = preprocessing(X_train)
X_test = preprocessing(X_test)

In [ ]:
def Prediction(h_of_x, threshold): 
  Y_hat = np.zeros(h_of_x.shape[0])
  for i in range(Y_hat.shape[0]):
    if h_of_x[i] > threshold:
      Y_hat[i] = 1
    else:
      Y_hat[i] = 0
  return Y_hat
 
def Accuracy(Y,Y_hat): return Y == Y_hat

def Logit_function(Xm, Wm):
  t = Xm @ Wm
  return 1/(1+np.exp(-t))
 
def Gradient_of_xj(hX,Y,xj): 
  # First derivative of cost function
  grad = np.multiply(hX - Y, xj)
  return np.mean(grad)

In [ ]:
Xm = X_train.iloc[:,:]
Ym = y_train.iloc[:]
Xm = np.append(np.ones((len(Ym),1)), Xm,axis=1)
Wm = np.random.rand(Xm.shape[1])
 
Epochs = 2000
lr = 0.01
h_theta_of_x = Logit_function(Xm,Wm)
print(f"Accuracy of random guess: {Accuracy(Ym,Prediction(h_theta_of_x,0.5)).mean()}")
for i in range(Epochs):
  h_theta_of_x = Logit_function(Xm,Wm)
  gradient_of_x = np.array([Gradient_of_xj(h_theta_of_x,Ym,Xm[:,j]) for j in range(len(Wm))])
  Wm = Wm - lr*gradient_of_x
print(f"Accuracy of logitic regression classifier: {Accuracy(Ym,Prediction(h_theta_of_x,0.5)).mean()}")

Accuracy of random guess: 0.3787425149700599
Accuracy of logitic regression classifier: 0.7934131736526946